* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 40px;
    text-align: center;
}

body h1 {
    margin: 40px 0;
    font-size: 56px;
}

body p {
    font-size: 32px;
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
}